body{
    margin: 0;
    padding: 0;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.btns{
    height: 8vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-btn{
    height: 6vh;
    width: 10vmin;
    margin-left: 5%;
    border-radius: 10px;
    background-color:cornflowerblue;
    
    text-decoration: none;
}

.pages-btn{
    display: flex;
    margin-right: 5%;
}
.home-btn > a {
    text-decoration: none;
    font-size: larger;
    color: white;
}
.logic-area{
    display: flex;
    justify-content: space-evenly;
}

.logic-table{
    height: 50vh;
    width: 25%;
    background-color: #fff;
}
/* Logic Area 2 */

.logic-area-2{
    height: 42vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logic-description{
    height: 35vh;
    width: 90%;
    background-color: #fff;
}

.logic-description > h2 {
    margin-left: 15px;
}

.logic-description > p {
    margin-left: 30px;
    font-size: large;
}

/* Table */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: larger;
  }

table {
    height: 100%;
    width: 100%;
    border-style: dashed;
}

td{
    text-align: center;
    font-weight: 500;
}

/* Area */
.logic-diagram{
    height: 50vh;
    width: 60%;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#parentDiv{
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: dodgerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

#myCanvas1{
    position: relative;
    z-index: 0;
    width: 800px;
    height: 400px;
    top: 0;
    right: 0; 
    /* display: none; */
}

#myCanvas2{
    object-fit: cover;
    position: relative;
    z-index: 0;
    width: 800px;
    height: 400px;
    top: 0;
    right: 0; 
    display: none;
}

  @media (max-width: 1400px) {
    #myCanvas1{
        height: 100%;
        width: 100%;
    }
  }

  @media (max-width: 1600px) {
    #myCanvas1{
        height: 100%;
        width: 100%;
    }
  }