body{
    margin: 0;
    padding: 0;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.btns{
    height: 8vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-btn{
    height: 6vh;
    width: 10vmin;
    margin-left: 5%;
    border-radius: 10px;
    background-color: skyblue;
}

.pages-btn{
    display: flex;
    margin-right: 5%;
}
.home-btn > a {
    text-decoration: none;
    font-size: larger;
    color: black;
    
}
.logic-area{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.logic-diagram{
    height: 50vh;
    width: 60%;
    background-color: #fff;
}

.logic-table{
    height: 50vh;
    width: 25%;
    background-color: #fff;
}
.logic-description{
    position: relative;
    margin: 33px 0px;
    height: 35vh;
    width: 90%;
    background-color: #fff;
}

.logic-description > h2 {
    margin-left: 15px;
}

.logic-description > p {
    margin-left: 30px;
    font-size: large;
}

/* Table */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: larger;
  }

table {
    height: 100%;
    width: 100%;
    border-style: dashed;
}

td{
    text-align: center;
    font-weight: 500;
    
}

/* Area */
.logic-diagram{
    display: flex;
    justify-content: center;
    align-items: center;
}
.area{
    height: 80%;
    width: 70%;
    /* background-color: dodgerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

#myCanvas1{
    position: relative;
    z-index: 0;
    width: 800px;
    height: 400px;
    top: 0;
    right: 0; 
    /* display: none; */
}

#myCanvas2{
    position: relative;
    z-index: 0;
    width: 800px;
    height: 400px;
    top: 0;
    right: 0; 
    /* display: none; */
}

#myCanvas3{
    position: relative;
    z-index: 0;
    width: 800px;
    height: 400px;
    top: 0;
    right: 0; 
    /* display: none; */
}

#myCanvas4{
    position: relative;
    z-index: 0;
    width: 800px;
    height: 400px;
    top: 0;
    right: 0; 
    /* display: none; */
}

input{
    display: none;
}

label{
    cursor: pointer;
    color: black;
    /* display: none; */
}

.div_a {
    position: relative;
    font-size: x-large;
    margin-top: -130px;
    left: 86px;
    z-index: 1;
}

.div_b {
    position: relative;
    font-size: x-large;
    margin-top: 80px;
    left: 70px;
    z-index: 1;
}

.div_y{
    position: relative;
    font-size: x-large;
    margin-top: -30px;
    right: 80px;
    z-index: 1;
}

.canvasDisplay{
    display: none;
}

@media (min-width:300px){
    #prevBtn{
        width: 25vmin;
    }

    .home-btn {
        height: 6vh;
        width: 20vmin;
        margin-left: 5%;
        border-radius: 10px;
        background-color: skyblue;
    }

    .logic-diagram{
        height: 70vh;
        width: 90%;
        background-color: #fff;
        border: 1px solid black;
    }
    
    .logic-table{
        margin: 33px 0px;
        height: 35vh;
        width: 90%;
        background-color: #fff;
    }
    .logic-description{
        position: relative;
        margin: 0px 0px 20px 0px ;
        height: 35vh;
        width: 90%;
        background-color: #fff;
    }

    #myCanvas1{
        width: 300px;
        height: 600px;
    }
    #myCanvas2{
        width: 300px;
        height: 600px;
    }
    #myCanvas3{
        width: 300px;
        height: 600px;
    }
    #myCanvas4{
        width: 300px;
        height: 600px;
    }

}

@media (min-width:600px){
    .home-btn {
        height: 6vh;
        width: 15vmin;
        margin-left: 5%;
        border-radius: 10px;
        background-color: skyblue;
    }

    .logic-diagram{
        height: 50vh;
        width: 90%;
        background-color: #fff;
    }
    
    .logic-table{
        margin: 33px 0px;
        height: 35vh;
        width: 90%;
        background-color: #fff;
    }
    .logic-description{
        position: relative;
        margin-bottom: 0px;
        height: 35vh;
        width: 90%;
        background-color: #fff;
    }
    #myCanvas1{
        width: 800px;
        height: 400px;
    }
    #myCanvas2{
        width: 800px;
        height: 400px;
    }
    #myCanvas3{
        width: 800px;
        height: 400px;
    }
    #myCanvas4{
        width: 800px;
        height: 400px;
    }
}

@media (min-width:900px){
    .home-btn {
        height: 6vh;
        width: 10vmin;
        margin-left: 5%;
        border-radius: 10px;
        background-color: skyblue;
    }

    .logic-diagram{
        height: 50vh;
        width: 90%;
        background-color: #fff;
    }
    
    .logic-table{
        margin: 33px 0px;
        height: 35vh;
        width: 25%;
        background-color: #fff;
    }
    .logic-description{
        position: relative;
        margin: 33px 0px;
        height: 35vh;
        width: 60%;
        background-color: #fff;
    }
}

@media (min-width:1200px){
    .home-btn {
        height: 6vh;
        width: 10vmin;
        margin-left: 5%;
        border-radius: 10px;
        background-color: skyblue;
    }

    .logic-diagram{
        height: 50vh;
        width: 60%;
        background-color: #fff;
    }
    
    .logic-table{
        margin: 0;
        height: 50vh;
        width: 25%;
        background-color: #fff;
    }
    .logic-description{
        position: relative;
        margin: 33px 0px;
        height: 35vh;
        width: 90%;
        background-color: #fff;
    }
}
